*{
    margin: 0;
    padding: 0;
    text-decoration: none;

}
div{
    height: 60px;
    width: 100%;
    background-color: blue;
}
p{
    text-align: center;
    font-size: 30px;
    color: white;
}
div img{
    float: right;
    display: inline-block;
    line-height: 80px;
    
    
   
}
 label {
    height: 60px;
    width: 100%;
    background-color:green;
    display: inline-block; 
}
nav{
    height: 80px;
    width: 100%;
    background-color: green;
}
    
nav ul {
    float: right;
    margin-right: 300px;
    display: inline-block;
    
    
    
}
nav ul li {
    display: inline-block;
    line-height: 10px;
    padding: 10px;
    margin: 5px;
}


nav ul li a{
    font-size: 25px;
    color: rgb(255, 255, 255);
}

a:hover{
    background-color: black;
    border: 7px solid black;
    border-radius: 20px;

}
section{
    display: inline;
    margin: 5px 5px 5px 5px;
    position: absolute;
}
section h1{
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 50px 10px 10px 10px;
}
section p{
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 10px 400px 10px 400px;
}

